.element__like-btn {
  background-image: url('../../../images/element__like_disabled.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 19px;
  width: 22px;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
}

.element__like-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.element__like-btn:active{
  background-image: url('../../../images/element__like_active.svg');
  opacity: 1;
}
