.profile__add-btn {
  background-image: url('../../../images/profile__add-btn.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  border: 1px solid #fff;
}

.profile__add-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
