.profile__add-btn {
  background-image: url('../../../images/profile__add-btn.svg');
  background-position: center;
  background-repeat: no-repeat;
  min-width: 282px;
  height: 50px;
  border: 2px solid #fff;
  transition: opacity 0.3s ease-in-out;
}

.profile__add-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
