.header__logo {
  background-image: url('../../../images/header__logo.svg');
  background-repeat: no-repeat;
  width: 103.74px;
  height: 24.4px;
  background-position: center;
  background-size: cover;
  margin: 0 0 27px 31.6px;
}

@media screen and (min-width: 600px) {
  .header__logo {
    width: 142px;
    height: 33px;
  }
}

@media screen and (min-width: 900px) {
  .header__logo {
    margin: 0 0 41px;
  }
}

