.popup__save-btn {
  background: #000000;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0 22px 25px;
  transition: opacity 0.3s ease-in-out;
  min-height: 46px;
  border: none;
  width: 238px;
}

.popup__save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .popup__save-btn {
    width: 358px;
    margin: 0 36px 48px;
    min-height: 50px;
  }
}
