.popup__save-btn {
  background: #000000;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0 22px 25px;
  transition: opacity 0.3s ease-in-out;
}

.popup__save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
