.popup__save-btn {
  background: #000000;
  border-radius: 2px;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 22px 25px;
}

.popup__save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
