.profile__info {
  display: grid;
  row-gap: 14px;
  column-gap: 10px;
  grid-template-columns: 10fr 1fr;
  margin-bottom: 36px;
  align-items: baseline;
  justify-items: center;
}

@media screen and (min-width: 900px) {
  .profile__info {
    margin-left: 30px;
    margin-right: 10vw;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1199px) {
  .profile__info {
    margin-right: 15vw;
    margin-left: 0;
  }
}

@media screen and (min-width: 1500px) {
  .profile__info {
    margin: 0 200px 0 0;
  }
}
