.element {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  max-width: 282px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
