.element__bottom-container{
  display: flex;
  width: 246px;
  justify-content: space-between;
  align-items: center;
  min-height: 76px;
  margin: 0;
  padding: 0 0 0 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
